[Desktop Entry]
Categories=AudioVideo;X-AudioEditing;Qt;
Exec=bash -c '$(dirname "%k")/mod-desktop-app.run'
GenericName=MOD Desktop App
Icon=audio
Name=MOD Desktop App
Terminal=false
Type=Application
Version=1.0
