/build/
/build-*/
.DS_Store
*.dll
*.dmg
*.exe
*.o
*.pkg
*.tar.gz
*.zip
qrc_*.hpp
ui_*.hpp
/src/systray/mod-desktop
/utils/win64/win64-pedalboards.iss
/utils/win64/win64-plugins.iss
/utils/win64/win64-version.iss
